      :root {
        --main-color: #444B53;
      }
      * { font-family: 'Open Sans', sans-serif; font-weight: 600; color: var(--main-color); box-sizing: border-box; touch-action: manipulation; }
      body { background-color: #F6F6F6; margin: 0; padding: 40px 0; position: relative; }
      .wrap { max-width: 400px; min-width: 300px; padding: 0 20px; margin: 0 auto; }
      .hide { text-indent: -99em; position: absolute; left: -9999px; width: 0; height: 0; }
      .visually-hidden { visibility: hidden; }
      .rows {padding: 0;}
      .group-label { font-size: 16px; margin: 0; padding: 5px 10px; background-color: #DDD; }
      .row-label { font-size: 15px; width: 80px; margin: 10px 0; }
      .no-margin-top { margin-top: 0; }
      .counter, .initials, .score, .total-score { font-size: 32px; }
      h1, .rows label { text-indent: -99em; position: absolute; width: 0; height: 0; }
      button { background: none; width: 40px; height: 40px; font-size: 24px; border: none; cursor: pointer; line-height: 38px; }
      .row { display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-bottom: 20px; }
      .row.end { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid var(--main-color); }
      .counter, .initials { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
      .initials input[type="text"] { text-transform: uppercase; }
      input[type="number"], input[type="text"] { display: block; width: 40px; height: 40px; line-height: 38px; padding: 0; border: 1px solid #333; text-align: center; -moz-appearance: textfield; font-size: 18px; }
      .input { position: relative; }
      .input .bonus { position: absolute; text-align: right; bottom: 2px; right: 3px; font-size: 10px; pointer-events: none; }
      input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
      .total-scores { cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
      .total-scores .row-label {visibility: hidden;}
      .total-score { width: 120px; text-align: center;}
      .players { border: 0; padding: 0; font-size: 14px; margin: 0; }
      .players legend { position: absolute; top: -999px; }
      .players ul { overflow: hidden; position: relative; display: block; list-style: none; margin: 0 0 30px; padding: 0; display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; }
      .players li { width: 50%; }
      .players label { border: 1px solid #DDD; display: block; background: #FFF; color: #999; padding: 6px 10px; line-height: 21px; margin: 0; cursor: pointer; transition: .2s background; position: relative; text-align: center; }
      .players span { color: #999; }
      .players li:first-child label { border-radius: 4px 0 0 4px; border-right-color: #FFF; }
      .players li:last-child label { border-radius: 0 4px 4px 0; }
      .players li:nth-child(2) label, .players li:nth-child(3) label, .players li:nth-child(4) label { border-right-color: #FFF; }
      input[type="radio"] { opacity: 0; position: absolute; }
      .players li input[type="radio"]:checked + label { border: 1px solid var(--main-color); background: #EEE; color: var(--main-color); }
      .players li input[type="radio"]:checked + label span { color: var(--main-color); }
      label { -webkit-tap-highlight-color: rgba(0,0,0,0); }
      .player-multi { margin: 0; padding-top: 20px; background-color: #F6F6F6; z-index: 1; }
      body:not([data-players="1"]).fixed { padding-top: 120px; }
      body:not([data-players="1"]).fixed .player-multi { position: fixed; top: 0; left: 0; width: 100%; }
      body:not([data-players="1"]).fixed .player-multi .rows { max-width: 400px; min-width: 300px; padding: 0 20px; margin: 0 auto; }
      body:not([data-players="1"]).fixed .player-multi .row.end { margin-bottom: 0; }
      body[data-players="1"] .player-multi { display: none; }
      body[data-players="2"] .initials { margin: 0 40px; }
      body[data-players="2"] .player-a, body[data-players="3"] .player-a, body[data-players="4"] .player-a, body[data-players="5"] .player-a { display: none; }
      body[data-players="3"] .counter button, body[data-players="4"] .counter button, body[data-players="5"] .counter button {display: none;}
      body[data-players="1"] .player-2, body[data-players="1"] .player-3, body[data-players="1"] .player-4, body[data-players="1"] .player-5 { display: none; }
      body[data-players="2"] .player-3, body[data-players="2"] .player-4, body[data-players="2"] .player-5 { display: none; }
      body[data-players="3"] .player-4, body[data-players="3"] .player-5 { display: none; }
      body[data-players="4"] .player-5 { display: none; }
      body[data-players="3"] .total-score, body[data-players="4"] .total-score, body[data-players="5"] .total-score { width: 40px; font-size: 24px; }
      input[disabled] { background-color: #DDD; border-color: #DDD; }
      .feedback { margin: 40px 0 0; text-align: center; font-size: 14px; }
      .feedback a { color: #999; }